 body {
   height: 100vh;
   width: 100%;
   background: linear-gradient(to right, #4344ac, #2fc086);
 }

 .mail-container {
   min-height: 50%;
   width: 50%;
   display: flex;
   align-items: center;
   flex-direction: column;
   margin: 5% auto;
   background-color: white;
   box-shadow: 0px 0px 20px 0px #584f4f;
 }

 header {
   background-color: #cb203f;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 40px;
   font-size: 120%;
 }

 header span {
   text-align: center;
   color: white;
 }

 main {
   width: 80%;
    display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 5% 0;
 }

 .fields {
   width: 100%;
   display: flex;
   align-items: center;
   flex-direction: column;
 }

 .actions {
   display: flex;
   justify-content: space-between;
 }
 
.mailImage{
  margin: 0 auto;
}
 .mailImage img {
   width:70px;
 }